body {
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(234, 14%, 14%);
  background-image: url(./bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  height: 35vh;
}

.todo > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  margin-bottom: 1rem;
}
.input {
  background-color: white;
  border: transparent;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px 0 0 9px;
  transition: 0.5s ease-in-out;
}
.input:hover, .input:focus {
  color: white;
  background-color: hsl(233, 64%, 45%) !important;
  border-right: 0.1rem solid white;
  box-shadow: 0 4px 80px 0 rgba(255, 255, 255, 0.4), 0 6px 20px 0 rgba(255, 255, 255, 0.3);
}
form > button {
  color: white;
  background-color: hsl(233, 64%, 45%);
  border: transparent;
  border-radius: 0 10px 10px 0;
  font-size: 1.3rem;
    animation: example 2s infinite;
}
.bg-white {
  border-radius: 10px;
  background-color: hsl(233, 72%, 55%) !important;
}
.op {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-weight: 600;
  padding: 1rem;
  margin-bottom: 0.5rem;
  min-width: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4), 0 6px 20px 0 rgba(255, 255, 255, 0.3);
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}
.item:hover{
  color: white !important;
  background-color: hsl(233, 72%, 55%);
}
@keyframes example {
  0% {background-color: white;}
  25% {background-color: red;}
  50% {background-color: yellow;}
  75% {background-color: blue;}
  100% {background-color: green;}
}
.complete {
  color: rgb(31, 140, 202);
  font-weight: bolder;
  background-color: yellow;
  border: transparent;
  border-radius: 5px;
}
.completed {
  color: gray !important;
  background-color: rgba(0, 0, 0, 0.3);
}
.fab {  
  display: flex;
  align-items: center;
  font-weight: 900;
}
.fas {
  color: rgb(211, 9, 9);
  background-color: transparent;
  font-size: 1.7rem;
  font-weight: bolder;
  border: transparent;
}
.fa {
  color: hsl(233, 72%, 55%);
  background: transparent;
  border: transparent !important;
  transition: 0.5s;
  font-weight: bolder;
}
.fa:hover {
  color: white;
}
.accordion {
  color: linear-gradient(to right,hsl(192, 91%, 50%),hsl(325, 87%, 65%)) !important;
  background-color: transparent;
  border: transparent;
  margin-right: 0.3rem;
}

.readmore {
  word-break: break-all;
  display: block;
  color: rgba(248, 249, 250, 0.925);
  background: linear-gradient(to right,hsl(192, 91%, 50%),hsl(325, 87%, 65%));
  padding: 1rem;
  z-index: -1;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 0.6rem;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4), 0 6px 20px 0 rgba(255, 255, 255, 0.3);
  
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
}
.badge {
  color: wheat;
  background-color: green;
  font-size: 1rem;
  font-style: oblique;
  padding: 5px;
  margin: 0.3rem;
}
.right {
  float: right;
  background-color: hsl(202, 76%, 56%);
  padding: 5px;
  margin: 0.3rem;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (min-width: 800px){
  body {
    background-image: url(./bg-desktop-dark.jpg);
  }
}
.over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
  text-decoration: line-through;
  text-decoration-color: gray;
}