body {
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(234, 14%, 14%);
  background-image: url(./bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  height: 35vh;
}

.todo > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  margin-bottom: 1rem;
}
.input {
  color: white;
  background-color: hsl(233, 50%, 58%);
  border: transparent;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px 0 0 9px;
}
form > button {
  color: white;
  background-color: hsl(233, 64%, 45%);
  border: transparent;
  border-radius: 0 10px 10px 0;
  font-size: 1.3rem;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(233, 50%, 58%);
  color: white;
  padding: 1rem;
  border-bottom: 0.05rem solid hsl(233, 31%, 65%);
}

.item > button {
  background: transparent;
  border: transparent;
  color: rgb(75, 70, 70);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(233, 50%, 58%);
  color: white;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
}
.badge {
  color: wheat;
  background-color: green;
  font-size: 1rem;
  font-style: oblique;
  padding: 5px;
  margin: 0.3rem;
}
.right {
  float: right;
  background-color: hsl(202, 76%, 56%);
  padding: 5px;
  margin: 0.3rem;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (min-width: 800px){
  body {
    background-image: url(./bg-desktop-dark.jpg);
  }
}